@import "reset.css";
html{ overflow: hidden; overflow-y: auto;}
body{ width: 100%; height: 100%; background: url(../images/gbanner.jpg) no-repeat center 0 #f2cd25;}
.fl{float:left;}
.fr{float:right;}
.cl{zoom:1;}
.cl:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.hide{ display: none;}
.ms-font,.rank-top span{font-family: "微软雅黑", "黑体" , Arial, Helvetica, sans-serif; }
.wrapper{ width: 100%;}
.header{ height: 908px; width: 1008px; margin: auto; position: relative;}
.top-ios-android,.top-apk-download,.top-tip-txt,.total-wages,.day-wages{ position: absolute;
}
.top-ios-android{ width: 108px; height: 108px; left : 760px; top : 75px; }
.top-apk-download{ width: 120px; height: 100px;left : 890px; top :70px;}
.top-apk-download a{ display: block; width: 100%; height: 40px; margin: 5px 0 8px; text-indent: -9999em;}
.top-tip-txt{width: 250px; height: 35px;left :810px; top :250px; }
.top-tip-txt p{ font-size: 12px; color: #fff; line-height: 1.5em;}
.total-wages{width: 160px; height: 67px;left :810px; top :297px; }
.wages-item{ position: relative; width: 46px; margin: 0 2px 0 2px; height: 100%;float: left; text-align: center; line-height: 67px; font-size: 60px;}
.ef-link{position: absolute; left : 50%; margin-left: -15px; top : 33px; height: 3px; width: 30px; background: #ededed;}
.day-wages {
    height: 20px;
    left: 837px;
    top: 374px;
    width: 66px;
    text-align: center;
    color: #f00;
    line-height: 22px;
    font-size: 14px;
}

.content{ width: 1008px; margin: 0 auto; padding-bottom: 35px;}
.com-top{margin-top: 35px;}
.aside-left{ width: 608px;}
.com-header{ width: 533px; height: 56px;line-height: 56px; font-weight: bold; background: url(../images/gl_head.png) no-repeat; color: #106736; font-size: 18px; padding-left: 75px;}
.section-content{width: 548px;background: url(../images/gl_bg.png) repeat-y; padding: 30px; }
.slide-content{width: 467px; height: 386px; background: url("../images/worldcup_bg.png") no-repeat;}
.slide-item{ padding: 20px 20px 20px 25px;}
.slide-title{ margin-bottom: 18px;}
.slide-title p{ font-size: 12px;}
.rank-top{ margin-top: 8px;}
.rank-top span{ display: block; font-size: 18px; font-weight: bold; color: #595757;  float: left; width: 130px;  text-align: left; vertical-align: middle;}
.rank-top i{ color: #106736; font-weight: bold; margin-right: 5px; font-style: normal; position: relative; top: -2px; }

.slide-ul{ margin: 10px auto 0; height: 340px;}
.slide-ul li{ margin-bottom: 6px;}
.slide-ul img,.slide-ul span{display: block; width: 60px; text-align: center;}
.slide-ul span{margin-top: 3px;}
.slide-ul a{ font-size: 12px; color: #074522; text-decoration: none;}
.slide-ul a:hover{ color: #0a9c4a;}
.slide-up a,.slide-down a{ display: block; width: 37px; height: 19px; text-indent: -9999em; margin-left: 12px;}
.slide-up a{ background: url(../images/slide_up.png) no-repeat;}
.slide-down a{ background: url(../images/slide_down.png) no-repeat;}
.qa-content{ font-size: 12px;}
.quiz{margin-bottom: 20px; }
.quiz-title{ color: #fff100; font-size: 14px; background: url(../images/quiz_title.png) no-repeat; width: 77px; height: 23px;  text-align: center; margin-bottom: 8px;}
.qa-content p{ line-height: 1.5em;}
.quiz h4{font-weight: bold; margin:6px 0;}
.clickable{ color: #106736; text-decoration: none; font-weight: bold;}
.clickable:hover { text-decoration: underline;}
.worldcup-time-head a{ font-size: 12px; padding-right:30px; display: block; margin-top: 5px;}
.worldcup-box{ width: 580px;}
.worldcup-item{ background: url(../images/team_panel.png) no-repeat; width: 165px; height: 85px;
    float: left; margin-right:24px;}
.worldcup-item table{ width: 165px;}
.worldcup-item td{ border: none; font-size: 12px;text-align: center; color: #106736; font-weight: bold;}
.worldcup-item .cup-item-head{  height: 22px; color: #fff; }
.worldcup-item img{margin-top: 5px; }
.com-bottom{ height: 12px; width: 608px; background: url(../images/gl_bt.png) no-repeat;}
.com-header-top{ background-image: url(../images/glt_head.png);}
.com-bottom-top{ background-image: url(../images/glt_bt.png);}

.aside-right{ width: 368px;}
.aside-header{width: 293px; height: 59px; background-image: url(../images/gr_head.png);}
.aside-content{width: 308px;background-image: url(../images/gr_bg.png); }
.aside-bottom{width: 368px; height:14px;background-image: url(../images/gr_bt.png); }
.aside-header-top{ background-image: url(../images/grt_head.png);}
.aside-bottom-top{ background-image: url(../images/grt_bt.png);}
.download-tip-txt{ text-align: center; font-size: 12px; }
.dowonload-app-list{ margin:35px auto; width: 308px;}
.dowonload-app-list span{ display: block; width: 50%; float: left; text-align: center;}
.app-downloads{ padding-bottom: 4px;}
.app-downloads a{ display: block; width: 247px; height: 72px; text-indent: -9999em; margin: auto; margin-bottom: 13px;}
.app-downloads a.ios{ background: url(../images/ios_btn.png) no-repeat;}
/*.app-downloads a.ios:hover{ background-image: url(../images/ios_btn_on.png);}*/
.app-downloads a.android{ background: url(../images/android_btn.png) no-repeat;}
/*.app-downloads a.android:hover{ background-image: url(../images/android_btn_on.png);}*/
.rank-item-wrap{ width: 267px; height: 200px; background: url(../images/team_top.png) no-repeat left bottom; margin: auto; overflow: hidden;}
.rank-item-box{width: 282px;}
.rank-item{ width: 80px; float: left; margin-right: 14px; text-align: center; font-size: 12px;}
.rank-item img,.rank-item span{display: block;}
.rank-item img{ margin-bottom: 80px;}
.rank-item-wrap .rank-ream-name{ font-size: 14px; font-weight: bold;}
.rank-ream-votes{ margin-top: 3px;}
.rank-ream-votes em { color: #f00; font-weight: bold;}
.team-rank-bottom{ height: 37px; background-image: url(../images/s_bt.png); text-align: center;}
.team-rank-bottom a{ font-size: 12px; color: #fff; padding-top: 8px; display: block; text-decoration: none;}
.team-rank-bottom a:hover{ text-decoration: underline;}
.partake-box{ font-size: 12px; height: 351px;}
.partake-box li{ margin-bottom: 20px;}
.aside-column-4{ margin-top: 36px;}
.aside-header-tip{ height: 11px; background: url(../images/gr_title.png) no-repeat right top;}
.weibo-item-wrap{ width: 280px; overflow: hidden; margin: 12px auto;}
.weibo-item-box{width: 300px;}
.weibo-item-box img{ display: block; margin-bottom: 15px;}
.weibo-item-box a{ display: block; float: left; width: 80px; margin-right: 20px; font-size: 12px; text-align: center;}
.mask-box{ width: 100%; height: 2000px; background: #848585; position: relative;}
.pop-wrap{ width: 1007px; position: absolute; left : 50%; margin-left: -504px; top : 50px;}
.pop-header{ width: 100%; height: 61px; background: url(../images/pop_head.png) no-repeat; line-height: 61px; text-align: center;
color: #106736; font-size: 18px; font-weight: bold;}
.pop-close-btn{ float: right; margin-right: 40px; display: inline; height: 61px; width: 18px;background: url(../images/pop_close.png) no-repeat left center;}
.pop-close-btn:hover{background-image: url(../images/pop_close_on.png); }
.pop-body{ width: 100%; background: url(../images/pop_bg.png) repeat-y; padding: 25px 27px; font-size: 12px;}
.pop-footer{ width: 100%; height: 10px;background: url(../images/pop_bt.png) no-repeat;}
.disclaimer-title{ text-align: center; margin-bottom: 20px;}
.disclaimer-title h4{ font-weight: bold; line-height: 1.8em;}
.disclaimer-box p{ line-height: 1.8em;}
.total-team-wrap{ margin-left: 2px;}
.total-team-box li{ float: left; width: 100px; height: 120px; background: url(../images/team-box.png) no-repeat; margin:0 20px 20px 0;}
.team-top-num{ font-size: 16px; font-weight: bold; padding: 0 0 0 3px;}
.team-top-detail{ width: 60px; margin: auto; text-align: center;}
.team-top-detail img{ display: block; width: 52px; margin: 0 auto 10px;}
.team-top-detail  span{ display: block;}
.team-top-detail .rank-ream-name { font-size: 14px; font-weight: bold; }
.team-top-detail .rank-ream-votes { margin-top: 3px;}