<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/layout.css' />
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/summernote.js"></script>
  <script src="/js/index.js"></script>

  </head>
  <body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
              <%- include nav %>
          </div>
          <div class="col-md-10">
              <ul class="list-group">
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/removefile">
                          删除数据文件
                      </a>
                      在生成文件之前，一定要先执行删除数据文件，再执行生成
                  </li>
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/createIndex">
                          生成文章首页
                      </a>
                  </li>
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/createList">
                          生成文章列表页
                      </a>
                  </li>
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/createArticle">
                          生成文章详情页
                      </a>
                  </li>
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/targz">
                          打包数据
                      </a>
                      打包数据是手动打包部署到线上，一般不用执行
                  </li>
                  <li class="list-group-item">
                      <a class="btn btn-primary" href="/download">
                          下载数据
                      </a>
                      下载打包数据，
                      解压缩上传到暴风弹窗adcms/template/popv5/static目录下，手动推到外网， 一般不用执行
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </body>
</html>